body,html { 
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #fff;
}

.border{
    color: black;
}

.cd-logo, .layer-cake, .kitchen-equipment, .cake-ingredients, .bowl-of-cakemix,
.cake-in-oven,decorated-cake {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 50%;
}

.cd-logo{
    background-image:url("../img/CartoonSinigang.jpg");
    min-height: 100%;
    background-size:auto;
    background-color:#642580;
}

.layer-cake{
    background-image: url("../img/Sinigang2.jpg");
}

.kitchen-equipment { 
    background-image: url("../img/sinigang-prep-scaled.jpg"); 
}

.cake-ingredients{
    background-image: url("../img/prep.jpg");
}

.bowl-of-cakemix{
    background-image: url("../img/ingredients.jpg");
}

.cake-in-oven{
        background-image: url("../img/WithRice.jpg");

}

.decorated-cake{
    background-image: url("../img/withRice2.jpg");
    min-height:100%;
    background-size:cover;
}

.caption{
    position:absolute;
    top:40%;
    width:100%;
    text-align: center;
}

.border{
    backgroun-color: 41bac1;
    color: #fff;
    padding: 18px;
    font-size:25px;
    letter-spacing:10px;
}

h2{
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #fff;
    text-align:center;
}

.textSection {
    background-color: #642580;
    padding: 50px 180px;

}

@media only screen and (max-device-width:1024px){
    .cd-logo, .layer-cake, .kitchen-equipment, .cake-ingredients, .bowl-of-cakemix,
    .cake-in-oven,decorated-cake {
        background-attachment:scroll;
}
}